# SHARED
EASY_SNMP_HOST=localhost
EASY_SNMP_PORT=161
EASY_SNMP_VERSION=2
EASY_SNMP_TIMEOUT_CONNECT=3
EASY_SNMP_TIMEOUT_READ=10

# V2
EASY_SNMP_COMMUNITY=public

# V3
# Defaults assume authPriv (most secure). Set USE_AUTH/USE_PRIV to false to downgrade.
EASY_SNMP_USER=
EASY_SNMP_USE_AUTH=true
EASY_SNMP_AUTH_PWD=
EASY_SNMP_AUTH_MECH=SHA
EASY_SNMP_USE_PRIV=true
EASY_SNMP_PRIV_MECH=AES
EASY_SNMP_PRIV_PWD=
EASY_SNMP_ENGINE_ID=
EASY_SNMP_CONTEXT_NAME=